body{
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}
body a{
    text-decoration: none
}
#Inline{
    width:  100%;
    height: 747px;
    display: flex;
    flex-direction: row;
    justify-content: center

}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
    background: linear-gradient(0.25turn, #2a68ec, #875ebd, #ef686c);

    padding-bottom: 20px;
}
.navbar.scrolled{
    background: white !important;
    transition: background 500ms;
}
nav.scrolled svg{
    color: #2c3038;
    font-weight: 600;
}

.navbar-dark .navbar-brand-dynamic-color svg [fill]:not([fill=none]), .navbar-dark .navbar-toggler svg [fill]:not([fill=none]) {
    fill: #fff !important;
}
#mainNavbar button{
    width: 158.8px;
    height: 48px;
    font-weight: 600;
}
.navbar.scrolled{
    background: #ffff;
    transition: background 500ms;
}
.navbar nav{
    background: linear-gradient(0.25turn, #2a68ec, #875ebd, #ef686c);
   
    
}
.navbar-dark .navbar-brand {
    color: #fff;
}
nav svg{
    fill: white ;
    color: white;
    margin-left: -3px;
}
/* nav navbar-brand{
    color: white 
} */
.injected-svg{
    color: white !important
}
#mainNavbar .container ul li{
    padding-left:  15px;
    color: #b4bbc3
}
.navbar{
    list-style: none
}
.dropdown-toggle:after {
    border: none!important;
    transition: all .2s ease-in-out;
    width: 15px;
    height: 15px;
    margin: 0;
    padding-top: 0px;
    margin-left: 3px;
    margin-bottom: -2px;
    transform: rotateZ(90deg);
    background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.376 11.584C14.6728 11.7819 14.6728 12.2181 14.376 12.416L9.77735 15.4818C9.44507 15.7033 9 15.4651 9 15.0657L9 8.93426C9 8.53491 9.44507 8.29671 9.77735 8.51823L14.376 11.584Z' fill='%23fff'/%3e%3c/svg%3e")

}
#mainNavbar .container ul li i{
    font-size: 10px;
    opacity: 0.25px;
    /* margin-bottom: 15px; */
    margin-left: 5px;
    padding-top: -10px;
    text-align: start
}
#mainNavbar .container ul li .headS{
    color: #d3c5df;
    margin-bottom: 3px;
    padding-right: .75rem;
    padding-left: .75rem;
    display: flex;
    align-items: center;
}
.dropdown-toggle {
    display: flex;
    align-items: center;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
 
}
.dropdown-item{
   text-decoration: none !important;

    font-weight: 700 !important;
    color: rgba(85, 90, 100, 0.6) !important;
  
}
.dropdown-item:hover{
    color: #2568ef !important;
    background: none;
}
.dropdown-menu.show {
    display: block;
   
    margin-top: 7px;
    margin-left: 4px;
    border-radius: .3125rem;
    padding-top: 17px;
    background: #fff;
    border-radius: .3125rem;
    border: 1px solid #eaedf2;
    padding: 1rem 0;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.09);
    min-width: 10rem;
}

.dropdown-toggle {
    white-space: nowrap;
}
a {
    font-weight: 700;
}
a {
    color: #2568ef;
}
a {
    color: #2568ef;
    text-decoration: none;
    background-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
@media (min-width: 1200px){
.navbar-nav>.nav-item {
    font-size: 0.25rem;
    list-style: none;
    text-decoration: none;
}
}
li {
    text-align: -webkit-match-parent;
}
#mainNavbar .container ul li .headS:hover{
    color: white;
    text-decoration: none
}
.navbar {
    
    transition:  500ms;
    height: 80px;
}

.navbar .headBrand:hover{
    text-decoration: none
}
/* 
 svg [fill]:not([fill=none]),
.navbar-dark .navbar-toggler svg [fill]:not([fill=none]) {
    fill: #fff;
}  */

.navbar.scrolled.navbar-dark .navbar-toggler svg [fill]:not([fill=none]) {
    fill: #0859fc !important
}
nav.scrolled svg [fill]:not([fill=none]), .navbar-dark .navbar-toggler svg [fill]:not([fill=none]) {
    fill: #2c3038 ;
    transition: 500ms;
}
.navbar.scrolled.navbar-dark .navbar-brand-dynamic-color svg [fill]:not([fill=none]){
    fill: #2c3038 !important;
}
.navbar.scrolled.navbar-right .nav-item{
    color: rgba(255,255,255,.65);
}
.navbar-right button{
    /* margin-right: -39px; */
    background-color: #2568ef;
    border: none;
    font-weight: 700 !important;
   
}

.navbar-right{
   margin-right: -19px;
}
.navbar-right .nav-item{
    margin-right: -0.9px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.65);
    padding-right: .75rem;
    padding-left: -100px;
    margin-left: -14.5px;
    font-size: 1.25rem;
}

.navbar.scrolled.nav-item {
    color: rgba(255, 255, 255, 0.65) !important;
    
}
.navbar-right .nav-item:hover{
    color: white
}
.dropdown-toggle:not(:hover):after {
    opacity: .25;
}

.headXL{
    font-size: 70px;
    font-weight: bold;
    color: white
}
.headL{
    font-size: 50px;
    font-weight: bold;
}
.headM{
    font-size: 40px;
    font-weight: bold;
}
.headS{
    padding: 10px;
    font-size:20px;
    font-weight: bold;
   
}
.headXS{
    font-size: 15px;
   
}
.sec1{
     margin-top: 50px;
     padding-top: 100px;
     background: linear-gradient(0.25turn, #2a68ec, #875ebd, #ef686c);
}
.sec1 .part1{
    margin-left: 29px
}
.small-card i{
    font-size: 30px;
    margin-right: 10px;
    margin-left: -8px;
}

.sec1 .part2 h3{
    margin-left: 30px;
    padding-left: 10px;
}
.sec1 .part2  .small-card{
    margin-left: 37px;
    width: 283.61px;
    letter-spacing: -.02em;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: #2c3038;
    padding-left: 6px;
}

.sec1 .part2  .small-card:nth-child(2){
    margin-top: 16px;
    margin-left: 37px;
    text-align: center;
    padding-left: 12px;
    
}
.part1 p{
    color: white;
    font-weight: 500;
    margin-left: -20px;
}
.part1 h1:nth-child(2){
    margin-top: -8px;
}
.part1 p{
margin-bottom: -34px;
margin-left: -10px;
margin-top: 14px;

}
/* .part1 p:nth-child(2){
    margin-top: -10px;
} */
.sec1-display3-p{
margin-bottom: 80px;
margin-left: -0.3px;
}
.display-3{
    font-weight: 700;
    color: white;
    letter-spacing: -.02em;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    margin-left: -0.3px;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: -4px;
    text-align: left !important
}
#form{
    display: flex;
margin: 30px;
justify-content: center;
align-items: center;
background-color: white;
width: 450px;
height: 498px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 5px;
margin-left: 65px;
line-height: 1.5em;
}
.sec1 form{
    width: 377px;

}
form{
    margin-left: 5px;
    margin-top: 0px;
    line-height: 1.5em;

}

form button{
    margin-left: 10px;
    margin-top:16px;
}
form select option{
    font-weight: 600;
}
.form-head{
    color: #555a64;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    display: inline-block;
  margin-left: 10px;
  padding-bottom: -100px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.form-container{
    margin-left: -25px;
}
.form-group{
    width: 377px;
    height: 48px;
    padding-bottom: 20px;
    margin: 10px;
}
form button{
    margin-top: 20px;
    background-color: #2568ef !important;
    font-weight: 600 !important;
    font-family: inherit !important
}
.part1{
    margin-top: 100px;
    width: 475px;
    margin: 30px;
    
}
.form-control{
    margin: 10px;
    height: 48px;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.375rem + 2px);
    padding: .6875rem .75rem;
    font-size: 1rem;
   
    line-height: 1.5;
    color: #b4b5ba;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eaedf2;
    border-radius: .1875rem;
    box-shadow: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.small-card{

    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    width: 283px;
    height: 64px;
    display: flex;
    align-content: center;
    
}
.small-card i{
    margin-left: 20px;
    margin-top: 5px;
    margin-right: -10px;
}
.sec2 #Inline{
    background-color: white;
    height: 692px;
}
.imgDiv{
    width: 500px;
    height: 520px;
}
.sec2 .part1 img{
    width: 451px;
    height: 451px;
    margin-top: 100px;
}
.sec2 .jumbotron .container #headS{
    margin-left: -8px;
}
.sec2 .jumbotron .container h1{
    width: 463px;
}
.jumbotron{
    background-color: white;
    width: 475px;
    height: 498px;
    margin: 20px;
    margin-right: 0;
    border-radius: 10px;   
    margin-top: 70px;  
}
.jumbotron-fluid p{
    margin-left: 55px;
    color: #666b74;
}
.jumbotron-fluid i{
   font-size: 35px;
   margin-right: 10px;
   margin-top: 20px;
}
.sec3 #Inline{
    padding-top: 190px;
  
}
.sec3 .card img{
    width: 353.98px;;
}
.sec3 .card input {
    width: 282px;
    margin-left: 30px;
}
.sec3 .card a{
    width: 282px;
    height: 48px;
    margin-left: 30px;

}
.box-container{
    width: 354px;
    height: 493px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px #bebfc2  ;
    margin-top: -80px;
}
.box-container input{
    width: 282px;
    height: 48px;
    margin-left: 35px;
    margin-top: 25px;
}
.box-container a{
    width: 282px;
    height: 48px;
    margin-left: 35px;
    margin-top: 25px;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    background-color: #2568ef
}
.box-container img{
    margin-top: 0
}
.sec3 .part1{
    margin-left: -70px;
    margin-right: 150px;
}
.sec3 .head{
    margin-left: -10px;
    margin-right: 60px;
}
.sec3 .head h6{
    font-weight: 700;
    line-height: 1.2;
    color: #2c3038;
}
.sec3 .part1 p{
    color: #555a64;
    margin-left: -10px;
}
.sec3 .part1 .head h1{
    color: #2568ef;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 0
}
.img{
    width:100%;
    margin-top: 50px; 
    border-radius: 5px;
}
.smallHeads{
    display: inline-flex;
    margin: 10px;
    
}
.head{
    margin: 10px;
   
}
.sectionHead{
 
    justify-content: center;
    text-align: center;
    font-size: 20px;

}
.sectionHead h1{
    font-size: 50px;
}
.part1 img{
    width: 451px;
    height: 500px;
}
.sec4{
    background-color: #f7f9fc
}
.sec4 .container .sectionHead{
    padding-top: 120px; 
}
.sec4 .container .sectionHead h1{
    margin-bottom: 15px;
}
.sec4 .container .sectionHead p{
    margin-bottom: 2px;
    color: #555a64;
}
.sec4 .container .carousel{
    margin-top: 40px;
    width: 950px;
    height: 438px !important;
    margin-left: 50px;
    border-radius: 10px;
    padding-bottom: 200px;
    margin-left: 100px;
}
.sec4 .container .carousel .carousel-item{
    border-radius: 10px;   
}
.sec5{
    background-color: #f7f9fc
}
.sec5 .jumbotron{
    background-color: #f7f9fc
}
.sec5 .part1 .container{
    margin-top: -50px;
}
.sec5 .container h6{
    font-weight: 700;
    line-height: 1.2;
    color: rgb(44, 48, 56);
}
.sec5 .part1 .container .row img{
    width: 18px;
    height: 18px;
    margin-right: 15px;
}

.sec5 .part1 .container .row .col{
    margin-bottom: 20px;
    
}
.sec5 .part1 .container .row #second{
    margin-left: -120px;
}
.sec5 .part1 .container .row #fourth{
    margin-left: -50px
}
.sec5 #Inline{
    padding-top: 250px;
    padding-bottom: 600px;
}
.sec5 .part1 .container .lead{
    margin-top: 30px;
    margin-left: -2px;
    margin-bottom: 30px;
}
.sec6{
    background-color: #2568ef;
    padding-top: 100px;
}
.sec6 .container .sectionHead{
    color: white;
    text-align: center
}
.sec6 .container .sectionHead p{
    text-align: center;
    line-height: 1px;
    margin-top: 30px;
}
.sec6 .container .sectionHead h1{
    font-size: 55px;
}
.sec6 .container #Inline{
    margin-left: 50px;
}
.sec6 .container #Inline .card-box .plan-ul button{
    background-color: white !important;
    font-weight: 600;
    color: #2568ef;
    padding-top: 23px;
}
.sec6 .container #Inline .best .card-box{
    height: 640px;
    margin-top: 50px;
}

.sec6 .container #Inline .best .card-box .plan-head h6{
    background-color: #28a745;
    color: white;
    border-radius: 30px;
    height: 32px;
    width: 93px;
    text-align: center;
    padding-top: 5px;
    margin-top: 30px;
    margin-left: -2px;
    margin-bottom: -2px;
}
#Inline .card{
    display: flex;
    justify-content: center;
    height: 400px;
}
.card .button{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  
}
.card-box{
    width: 357px;
    height: 587px;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* left: 0; */
    margin-top: 75px;
    margin-right: 50px;
    margin-left: -24px;
}
.card-box img{
    margin-right: 15px; 
    margin-left: -35px;
}
.card-box h6{
    text-align: start;
    margin-bottom: 40px;
    color: #666b74;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 20px
    
}
.sec6 .card-box .headL{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    margin-left: -45px;
    margin-bottom: 10px;
}
.sec6 .card-box .row #dollar{
font-weight: 600;
font-size: 22px;
margin-right: 10px;
}
.sec6 .card-box .row{
    margin-left: -40px;
}
.sec6 .card-box .plan-features{
    font-size: 1rem;
    color: #2c3038;
    font-weight: 600;
    line-height: 3em
}
.sec6 .card-box .plan-features .disable{
    opacity: 0.5;
}
.sec6 .card-box .best{
    height: 640px !important;
}


.plan-ul{
    text-align: initial;
    margin-left: 40px;
    /* margin: 0 auto; */
    line-height: 2;
}
.card-box a{
    width: 282px;
    height: 72px;
    text-align: center;
    align-content: center;
    margin-top: 20px;
    padding-top: 20px;
}
.card-box a:hover{
    background-color: #c8d9fb;
}
.card-box a .basicandpro{
    background-color: white;
} 
.plan-head{
 display: inline-block;
 justify-content: center;
 padding-left: 50px;
}
ul li{
    list-style: none;
    
}
.sec7 .card{
    margin: 20px;
    width: 734px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 0.25rem;
    /* padding-top: 10px; */
    font-weight: 600;
}
.sec7{
   padding-bottom: 150px;
    background-color: #2568ef;
 
    border-radius: 5px;
}
.sec7 .accordian{
    background: none;
}
.sec7 .card-header{

    padding: 0;
    background-color: white;
   color: #666b74
}
.sec7 .card-body{
    color: #555a64;
    font-weight: 600 !important;
    border-radius: 5px !important ;
}
.sec7 button{
    width: 100%;
    height: 72px;
    font-weight: 600;
    text-align: start;
    font-size: 1rem;
    border-radius: 5px !important ;
}
.sec7 button:hover{
color: #2568ef
}
.sec7 button i{
    margin-left: 500px;
}

.sec7 .card{
 
    margin-bottom: 15px;
    border-radius: 5px;
    border-radius: 5px !important ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sec8{
    height: auto;
    align-content: flex-start;
    display: flex;
    background-color: #051b35;
    color: white;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.sec8 #Inline{
    height: 612.97px;
}
.footerImg{
    margin: 20px;
    width: 148px;
    height: 107px;
    border-radius: 5px;
}
.footerImg:hover{
    opacity: 0.8;
    transition: 300ms
}
.row-services{
    margin: 50px;
    margin-top: 0
}
.row-services h3{
    padding-left: 0;
}
.pagesAndDemo{
    margin-left: 90px;
    padding-left: 0.06px;
    margin-top: 49px;
}
.footer-list{
    letter-spacing: -.02em;
   margin-top: 59px;

   margin-right: 28px;
  
}

.footer-list li{
    color: #b4bbc3;
    padding-right: 17px;
    padding-bottom: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    
    
}
.footer-list .headS{
    color: white;
    margin-bottom: 5px;
    margin-left: -10px;
    
}
.footer-list .Articles{
    font-size:20px;
    font-weight: bold;
    color: white;
    display: flex;
    padding-left: 27px;
    padding-bottom: 1px;
}
.footer-card{
    background-color: rgba(255,255,255,.05)!important;
    border-radius: 5px;
  text-align-last: center;
    color: #b4bbc3;
   
    width: 389px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: center
    

}
.footer-card input{
    width: 234px;
    height: 48px;
    border-radius: 5px;
    border-width: inherit
}
.footer-card button{
    width: 72.94px;
    height: 48px;
}
.footer-card h6{
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: start;
    display: flex;
    padding-left: 40px;
    padding-bottom: 12px;
}
.footer-card p{
    font-size: 13px;
    font-weight: 700;
    display: flex;
    padding-left: 40px;
    padding-top: 14px;
}
.articlesWrapper{
    margin-top: 126px;
    margin-left: -10px;
    margin-right: 0px;
}
#articleImageText{
    margin-top: 29px;
    line-height: 0.7;
    margin-left: -40px;
    font-size: 16px;
    color: rgba(255,255,255,.5)!important;
}
.date{
    font-size: .875rem;
    line-height: 1.25rem;

    font-weight: 600;
}
.sec9{
    background-color: #051b35;
    color: #b4bbc3;
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 12px;
    
} 
.socialMedia{
    margin-left: 380px;
    font-size: 19px;
    color: white;
}
.socialMedia i {
    margin-left: 16px;
}
.socialMedia i:hover{
    color: #b4bbc3;
}
.sec9 .container{
    border-top: 1px solid rgb(41, 46, 51);
   border-width: 0.1px;
   padding-top: 20px;
}